force-app/main/default/flows/CRT_Attempt_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_a_List_of_Copado_Tests_Action_1</name>
        <label>Run a List of Copado Tests Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>copado__RunTestsAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextIds</name>
            <value>
                <elementReference>Testing123Collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tool</name>
            <value>
                <stringValue>Copado Robotic Testing</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunTestsAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Test</name>
        <label>Test</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Testing123</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Testing123Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_a_List_of_Copado_Tests_Action_1</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>CRT Attempt 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CRT Attempt 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Testing123</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Testing123Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
